.portfolio {
    margin-top: 40px;
    width: auto;
    height: 650px;
    padding-left: 40px;
    padding-right: 40px;
}

.portfolio__title {
    text-align: center;
    font-weight: 100px !important;
    font-size: 40px;
    padding-bottom: 20px;
}

.portfolio__projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .portfolio {
        margin-top: 15px;
        height: auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .portfolio__title {
        font-size: 35px;
    }

    .portfolio__projects {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}